@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,400;1,700&display=swap');

*{

  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none!important;


}
body {
   
    background-color: $darkblue-color;
    color: $grey-color;
    font-family: 'Roboto Mono', monospace;
   

  }

  .page{
    position: relative;
    min-height: 100vh;


  }

  // scrollbar style

  /* width */
::-webkit-scrollbar {
  width: 10px;

}

/* Track */
::-webkit-scrollbar-track {
  background: $darkblue-color; 

}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: $grey-color; 

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $green-color; 

}
