
// medium screen 

@media (max-width: 1000px) {
    .repo-container header h1{
        margin-bottom: 20px!important;
        font-size: 3em!important;
    }
    
}

// sidebar mobile
@media  (max-width: 854px) {
   
    .ul-nav{
        display: none!important;
    }
    .resume{
        width: 150px;
        height: 40px;
    }
  
    .logo-container{
        margin: 0!important;
        z-index: 10;
    }
   
  }

  @media (max-width:524px) {
 
    .left-side{
        width:30%!important;

    }
    .ul-burger{
        width: 70%!important;
    }
    footer{
        background-color: #02183a;
    }
    // repo
   .repo-container{
    .repo{
        font-size: 1em!important;
    }
   
   }
    
   
  }

@media  (min-width: 855px) {
  
    .sideBar-container{
        display: none!important;
    }

    .burger{
        display: none!important;
    }
  }

//   article text

@media (max-width:630px) {
    .img-container{
        text-align: center;
    }
      .img-container {
        width: 250px!important;
       
      }
      
    .text-wrap h1{
        font-size: 2em!important;
    }
    .intro{
        font-size: 1em!important;
    }
    .repo-container header h1{
        margin-bottom: 20px!important;
        font-size: 1.5em!important;
    }
    
    
}


