nav{
    font-size: 0.8rem;
    padding: 10px;
    margin-bottom: 20px;
}
.logo-container{
    margin-left: 40px;
}
.logo-container img{
    width: 100px;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

nav ul{
    display: flex;
    justify-content: space-around;
    margin-right: 40px;
}

nav ul li{
    transition: 0.1s ease-in-out;
    padding: 5px;
}
nav ul li:hover{
    cursor: pointer;
    color: $green-color;
    transform: scale(0.9)
}

// btn
.resume{
    @include green-btn;
    padding: 5px 7px;
    width: 80px;
    transition: 0.3s ease-out;
   a{
        color: inherit!important;
    }
}
.resume:hover{
    opacity: 0.7;
    transform: translate(-10%, -10%);
    box-shadow: 3px 3px $grey-color;
}






